@font-face {
    font-family: 'ShanHaiJiGuSongKeJianFan';
    src: url('ShanHaiJiGuSongKeJianFan.woff2') format('woff2'),
        url('ShanHaiJiGuSongKeJianFan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

